<header class="header header-10 header-intro-clearance">
  <div class="header-middle">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a href="home" class="logo">
          <img src="assets/img/cut_logo.png" alt="TechSekai" width="220" height="50px">
        </a>
      </div>

      <div class="header-center">
        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
          <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
          <form  [formGroup]="searchForm" method="get">
            <div class="header-search-wrapper search-wrapper-wide">

            <div class="select-custom">

              <select formControlName="searchCat" (change)="updateCat()" id="cat" name="category">
                <option value="all">All Categories</option>
                <ng-template [ngIf]="categories">
                  <ng-template ngFor let-c [ngForOf]="categories">
                    <option  value="{{ c.name }}">{{ c.name }}</option>
                  </ng-template>
                </ng-template>
              </select>

            </div>
            <label for="q" class="sr-only">Search</label>
              <input (keyup.enter)="simClick()" (keyup)="updateKey()" formControlName="searchVal" type="search" class="form-control" name="name" id="q"
                     placeholder="Search product ..." required> <!--{% if name %} value="{{ name }} {% endif %}-->
              <a href="/search/{{searchKey}}/{{searchCat}}" class="btn btn-primary"><i class="icon-search"></i></a>

            </div><!-- End .header-search-wrapper -->
          </form>
        </div><!-- End .header-search -->
      </div>
      <div class="header-right">
        <div class="header-dropdown-link">



          <!-- Cart + WishList For Clients Only -->
          <ng-template [ngIf]="isAuthenticated && this.isShop==='false'" >
            <a routerLink="/account/wishlist" class="wishlist-link">
              <i class="icon-heart-o"></i>
              <span class="wishlist-txt">Wishlist</span>
              <!-- <span class="wishlist-count">{{ wishList }}</span> -->
              <span class="wishlist-count">{{counter2}}</span>
            </a>
            <a routerLink="/account/cart" class="wishlist-link">
              <i class="icon-shopping-cart"></i>
              <span class="cart-txt">Cart</span>
              <!--<span class="wishlist-count">{{ cart }}</span>-->
              <span class="wishlist-count">{{counter}}</span>
            </a>
          </ng-template>
          <!-- /Cart + WishList For Clients Only -->




          <!-- Authenticated User Account Options -->
          <ng-template [ngIf]="isAuthenticated" [ngIfElse]="notAuthenticatedOptions" >
            <div class="dropdown">
              <a href="" class="wishlist-link dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="icon-user"></i>
                <span style="font-size: 12px" class="wishlist-txt"><strong>{{this.username}}</strong></span>
              </a>
              <ul class="dropdown-menu" style="text-align: center; font-size: 12px">
                <li><a class="btn btn-dark" style="color: white" href="/userprofile">My Account</a></li>
                <li><a class="btn btn-dark" style="color: white" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </ng-template>
          <!-- /Authenticated User Account Options -->



          <!-- Not Authenticated User Account Options -->
          <ng-template #notAuthenticatedOptions>
            <a href="login" class="wishlist-link">
              <i class="icon-user"></i>
              <span class="wishlist-txt">User</span>
            </a>
            <div style="padding-left: 10% ; border-right: 2px solid gray; height: 55px;"> </div>
            <a href="/add_shop" class="wishlist-link">
              <i class="fa fa-store-alt"></i>
              <span class="wishlist-txt" style="text-align: center">Shop Register</span>
            </a>
          </ng-template>
          <!-- /Not Authenticated User Account Options -->



        </div>
      </div><!-- End .header-right -->
    </div><!-- End .container -->
  </div><!-- End .header-middle -->

  <div class="header-bottom sticky-header">
    <div class="container">
      <div class="header-left">
        <div class="dropdown category-dropdown show is-on" data-visible="true">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="true" data-display="static" title="Browse Categories">
            Browse Categories
          </a>

          <div class="dropdown-menu"> <!--{% if '/' == request.path %} show {% endif %}-->
            <nav class="side-nav">
            <ul class="menu-vertical sf-arrows">
              <ng-template [ngIf]="categories">
                  <ng-template ngFor let-c [ngForOf]="categories">
                    <li>
                      <a class="sf-with-ul" href="/search/{{ c.name }}/"> {{ c.name }}  ({{ c.totDevices }})</a>
                    </li>
                  </ng-template>
                </ng-template>
            </ul>
              <!-- End .menu-vertical -->
            </nav><!-- End .side-nav -->
          </div><!-- End .dropdown-menu -->
        </div><!-- End .category-dropdown -->
      </div><!-- End .col-lg-3 -->
      <div class="header-center">
        <nav class="main-nav">
          <ul class="menu sf-arrows">

            <!-- Client Navbar Options -->
            <ng-template [ngIf]="this.isShop === 'false' " [ngIfElse]="shopOnlyOptions">

              <li class="megamenu-container">
                <a routerLink="/home"  class="" [routerLinkActive]="['is-active']">Home</a>
                <div class=""></div><!-- End .megamenu -->
              </li>
              <li class="megamenu-container ">
                <a routerLink="/hotdeals"  [routerLinkActive]="['is-active']">Hot Deals</a>
                <div class=""></div><!-- End .megamenu -->
              </li>
              <li class="megamenu-container">
                <a routerLink="/newarrivals"  [routerLinkActive]="['is-active']">Newly Arrived</a>
                <div class=""></div><!-- End .megamenu -->
              </li>
              <li class="megamenu-container">
                <a routerLink="/shops" [routerLinkActive]="['is-active']">Shops</a>
                <div class=""></div><!-- End .megamenu -->
              </li>
            </ng-template>
            <!-- /Client Navbar Options -->


            <!-- Shop Navbar Options -->
            <ng-template #shopOnlyOptions>
              <li class="megamenu-container">
                <a href="/products" class="">My Products</a>
                <div class=""></div>
              </li>
              <li class="megamenu-container">
                <a href="/products/add" class="">Add Products</a>
                <div class=""></div>
              </li>
              <li class="megamenu-container">
                <a href="/items" class="">My Items</a>
                <div class=""></div>
              </li>
              <li class="megamenu-container">
                <a href="/items/add" class="">Add Item</a>
                <div class=""></div>
              </li>
            </ng-template>
            <!-- /Shop Navbar Options -->



          </ul><!-- End .menu -->
        </nav><!-- End .main-nav -->
      </div><!-- End .col-lg-9 -->
    </div><!-- End .container -->
  </div><!-- End .header-bottom -->
</header><!-- End .header -->
