<div class="bg-light pt-3 pb-5">
  <div class="container">
    <div class="heading heading-flex heading-border mb-3">
      <div class="heading-left">
        <h2 class="title">New Arrivals</h2><!-- End .title -->
      </div><!-- End .heading-left -->
    </div><!-- End .heading -->

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let p of this.products;">
        <ng-template carouselSlide>
          <div class="product" >
            <figure style="width: 250px ; height: 250px; text-align: center; vertical-align: middle;">
              <a href="/product/{{ p.id }}/">
                <img style="max-width: 100%;max-height: 100%;position: absolute;left: 0.7%;top:2%" src="assets{{ p.image }}" alt="Product image" class="product-image">
              </a>
            </figure><!-- End .product-media -->
          </div>
          <div class="product-body">
            <div class="product-cat">
              <a href="#">{{ p.category?.name }}</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="/product/{{ p.id }}/">{{ p.name }}</a></h3>
            <!-- End .product-title -->
            <div class="product-price">
              <span class="new-price">Lowest Price: {{ p.lowest_price }}</span>
            </div><!-- End .product-price -->
          </div><!-- End .product-body -->
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div><!-- End .container -->
</div><!-- End .bg-light pt-5 pb-5 -->
