<div *ngIf="!orders?.length; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><p>No order has been made yet.</p></ng-template>

<ng-template #elseBlock>

  <h3>Your Orders: </h3>
  <table class="table table-wishlist table-mobile">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>State</th>
      <th></th>
    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let order of orders">
      <td class="product-col">
        <div class="product">
          <h3 class="product-title">
            <a href="#"> {{ order?.item?.product?.name }}</a>
          </h3><!-- End .product-title -->
        </div><!-- End .product -->
      </td>
      <td class="price-col">{{ order?.quantity }}</td>
      <td class="price-col">${{ order?.total_price }}</td>
      <td class="price-col">{{ order?.order_state }}</td>
    </tr>
    </tbody>
  </table>

</ng-template>


