<div class="container" style="padding-top: 5%; padding-bottom: 3%">
  <div class="cat-blocks-container" style="text-align: center">


    <!-- Product cards -->
    <div class="form-group">
      <div class="row justify-content-evenly">
        <div class="col-xl-3" *ngFor="let s of this.shops; let index = index">
          <div class="product">
            <figure class="product-media">
              <a routerLink="{{s.id}}">
                <img src="assets{{ s.image }}" alt="Product image" style="height: 200px;width: 100%;" class="img-fluid">
              </a>
            </figure><!-- End .product-media -->
            <div class="product-body" style="background: #23272b">
              <div class="product-cat">
                <a>{{ s.owner.email}}</a>
              </div><!-- End .product-cat -->
              <h2 class="product-title" style="color: white"><a>{{ s.name }}</a></h2>
              <a routerLink="{{s.id}}">See Shop</a>
            </div><!-- End .product-body -->
          </div><!-- End .product -->
        </div>
      </div>



    </div>

    <p  *ngIf="!shops?.length && loaded" class="btn btn-danger disabled btn-lg" style="color: white; margin-bottom: 10px; border-radius: 10px;"> Sorry, no shops available! </p>
    <br>
  </div><!-- End .cat-blocks-container -->
</div><!-- End .container -->
